.wrap {
    display: flex;
    flex-direction: column;
    background-color: rgba(245 251 245);
    color: rgba(181 181 181);
}
.top-navigation {
    background: transparent;
}
.back-border {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}
.back-people{
    z-index: 2;
    overflow: hidden;
    position: fixed;
    /* top: 0vh; */
    width: 100vw;
    bottom: 0;
    left: 4%;

    /* height: 97vh; */
}

/* navigation bar */

.month-change{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.month-display {
    padding: 4rpx 20rpx 15rpx 20rpx;
    font-size: .2rem;
    font-weight: 600;
    color: rgba(112 112 112);
    height: 60rpx;
    align-self: center;
    text-align: center;
}
.triangle-left {
    padding-left: 204rpx;
    /* padding-top: 20rpx; */
    width: 0;
    height: 0;
    border-top: 15rpx solid transparent;
    border-right: 20rpx solid rgba(128 186 161);
    border-bottom: 15rpx solid transparent;
}
.triangle-right {
    padding-right: 50rpx;
    width: 0;
    height: 0;
    border-top: 15rpx solid transparent;
    border-left: 20rpx solid rgba(128 186 161);
    border-bottom: 15rpx solid transparent;
}
.no-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
/* top calender */
.calender {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 30rpx; */
    /* height: 600rpx; */
    background-color: #ffff;
    /* box-shadow:0 6rpx 10rpx 2rpx rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.1); */

    font-size: .18rem;
}

.calender-week {
    z-index: 200;

    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 10rpx 30rpx 10rpx 30rpx;
    border-bottom: 1px solid rgba(181 181 181);

}

.grid-week {
    position: relative;
    /* z-index: 1; */
    text-align: center;
    font-family: "Microsoft YaHei",sans-serif;
    width: calc(100% / 7);
    line-height: 70rpx;
}

.calender-day {
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    padding: 25rpx 30rpx;
    box-sizing: border-box;
    /* height: 450rpx; */
}

.grid {
    position: relative;
    /* z-index: 1; */
    text-align: center;
    font-family: "Microsoft YaHei",sans-serif;
    width: calc(100% / 7);
    line-height: 100rpx;
    height: 100rpx;
}

.grid-puzzle {
    position: relative;
    /* z-index: 1; */
    text-align: center;
    font-family: "Microsoft YaHei",sans-serif;
    width: calc(100% / 7);
    line-height: 100rpx;
    height: 100rpx;
    border-radius: 6%;
    background-color: #0284cf;
}
.grid-puzzle:before {
    content: "";
    width: calc(0.3* 100% / 7);
    height: 30rpx;
    position: absolute;
    top: 36.7rpx;
    left: -6.67rpx;
    border-radius: 50%;
    background-color: #fff;
}
.grid-puzzle:after{
    content: "";
    width: calc(100% / 7 / 3);
    height: 33.3rpx;
    position: absolute;
    top: 2em;
    left: 5.5em;
    border-radius: 50%;
    background-color: #0284cf;
}
.lighter {
    opacity: 0.5;
}

.select-no-mood {
    width: 10rpx;
    height: 10rpx;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.mood-image {
    border-radius: 10%;
}
.mood-image-first {
    border-radius: 10%;
    margin-top: 10rpx;
    width: 37rpx;
    height: 50rpx;
}
.share {
    padding-right: 50rpx;
}
.share-first {
    border-radius: 10%;
    /* margin-top: 10rpx; */
    width: 60rpx;
    height: 60rpx;
}
.select {
    border-radius: 50%;
    box-shadow:0 6rpx 10rpx 2rpx rgba(0, 0, 0, 0.05);/*for Android*/
    -webkit-box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.05);/*for IOS*/
}

.mood-date {
    float:bottom;
    display: inline;
    position:relative;
    font-size: .08rem;
    font-family: PingFangSC-Medium;
    align-self: bottom;
}
/* bottom moods */
.today {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    /* padding: 0rpx 30rpx 0rpx 30rpx; */
    background-color: #ffffff;
    /* box-shadow:0 6rpx 10rpx 2rpx rgba(0, 0, 0, 0.1);/*for Android*/
    /* -webkit-box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.1);for IOS  */
}
.journal {
    z-index: 200;
    position: relative;
    top: 0;
    left: 0;
    height: 35vh;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 70rpx; */
    /* flex-grow: 2; */

}


.oval {
    margin-left: 65rpx;
    z-index: 599;
    width: 570rpx;
    height: 1.3rpx;
    background: rgba(207 244 209);
    opacity: 0.8;
    border-radius: 100px / 50px;
}
.day-mon-text {
    display: flex;
    flex-direction: column;
}
.big-text {
    margin-bottom: 10rpx;
    font-size: 70rpx;
    font-weight: bold;
    height: 70rpx;
    color: rgba(85,197,149);
}
.small-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .2rem;
    width: 145rpx;
    color: rgba(181,181,181);
}

.record-row {
    padding: 20rpx;
    margin: 0 30rpx 0 30rpx;
    display: flex;
    align-items: flex-start;

}

.record-row-first {
    padding: 20rpx 20rpx 0 50rpx;
    margin: 0 0rpx 0 30rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gratitude {
    height: 60rpx;
}
.gratitude-row {
    display: flex;
    /* align-items: flex-start; */
    height: 60rpx;
    padding: 20rpx;


}
.row-text {
    padding: 0rpx 0rpx 0 20rpx;
    width: 670rpx;
    align-self: flex-start;
    text-align: top;
}
.row-mood-text {    
    overflow: hidden;
    padding: 20rpx 50rpx 0 80rpx;

    text-align: center;
    width: 640rpx;
}
.day-text {
    font-family: TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif;
    width: 110rpx;
    color: rgba(181 181 181);
    margin: 10rpx 20rpx 0 20rpx;
}

.mask {
    width:100%;
    height:100%;
    position:fixed;
    background-color:#000;
    z-index: 500;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: 0.50;
    filter: alpha(opacity=50);
}
    
.poste-box{
    position: fixed;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0);
}
.savePoste{
    z-index: 999;
    background-color: #FF8427;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:30rpx;
    color: #fff;
}
.saveTitle{
    font-size: 25rpx;
    color: #666;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rpx;
    text-align: center;
}

.share-canvas {
    width: 100%;
    height: 100%;
    background: transparent;
}
.save-button {
    z-index: 999;
    position: fixed;
    align-self: center;
    text-align: center;
    margin-left: 225rpx;
    padding: 18rpx 0;
    background-color: rgba(207 244 209);
    width: 300rpx;
    height: 90rpx;
    font-size: 35rpx;
    color: rgba(128 186 161);
    border-radius: 20px;
}

.jigsaw{
    width: calc(100% / 7);
    line-height: 100rpx;
    height: 100rpx;
    position: relative;
    cursor: pointer;
}

.jigsaw .bout {
width: calc(100% / 3);
    height: calc(100% / 3);
    position: absolute;
    z-index: 300;
    bottom: -25%;
    left: calc(100% / 3);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;
    border: 1px solid transparent;
    /* border-image: linear-gradient(); */


}
  
.jigsaw .tout {
    width: calc(100% / 3);
    height: calc(100% / 3);
    position: absolute;
    top: -25%;
    left: calc(100% / 3);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;
    border: 1px solid transparent;
    /* border-image: linear-gradient(); */


}
  
.jigsaw .lout {
    width: calc(100% / 3);
    height: calc(100% / 3);
    position: absolute;
    z-index: 300;
    top: calc(100% / 3);
    right: calc(100% * 5.5 / 6);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;
    /* border: 1px solid black; */

}
.jigsaw .rout {
    width: calc(100% / 3);
    height: calc(100% / 3);
    position: absolute;
    z-index: 300;
    top: calc(100% / 3);
    left: calc(100% * 5.5 / 6);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;

}
  
.jigsaw .bin { 
    width: calc(100% / 3);
    height: calc(100% / 3);
    position: absolute;
    top: calc(100% * 4.5 / 6);
    left: calc(100% * 2.2 / 6);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;
    background-color: #fff;
}
  
.jigsaw .lin { 
    width: calc(100%  / 3);
    height: calc(100% / 3);
    position: absolute;
    top: calc(100% * 2.2 / 6);
    left: calc(1 - 100% * 0.4 / 6);
    -webkit-border-radius: 67%;
    -moz-border-radius: 67%;
    border-radius: 67%;
    background-color: #fff;
}

.shadow {
    box-shadow:0 6rpx 10rpx 2rpx rgba(0, 0, 0, 0.1);/*for Android*/
    -webkit-box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.1);/*for IOS*/
}