.top-navigation {
    background: transparent;
}

.top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    padding: 10% 0 0 0;
    align-self: center;
    justify-content: space-around;
}
.main-chat {
    position: fixed;
    bottom: 52vh;
    width: 640rpx;
    left: 55rpx;
    height: 343rpx;
    background-image: url(https://cdn.xiaou.tech/main-chat-back.png);
    background-size: 100% 100%;
}
.welcome-text {
    position: fixed;
    top: 10vh;
    right: 0;
    padding: 8% 0 5% 0;
    width: 300rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-text {
    font-size: .25rem;
    font-family: PingFangSC-Medium, sans-serif;
    color: rgba(80,189,155);
}

.small-text {
    /* padding-top: 30rpx; */
    font-size: .16rem;
    font-family: PingFangSC-Regular, sans-serif;

    color: rgba(181,181,181);
}
.portrait-container {
    /* margin-top: 80rpx; */
    /* margin-left: 300rpx;
    margin-top: 50rpx; */
    z-index: 10;
    position: fixed;
    right: 130rpx;
    bottom: 58vh;
    width: 100vw;
    height: 100vw;
    /* top: 0.035%; */
    align-self: center;
    /* height: 750rpx;
    width: 750rpx; */
}
.portrait {
    position: relative;
    width: 53vw;
    height: 53vw;
}
.middle {
    z-index: 100;
    align-self: center;
    display: flex;
    /* flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end; */
    align-items: center;
    width: 100%;
    height: 45%;
    text-align: center;
    padding-top: 10%;
    /* background-color: #ffffff; */

}
.intro-text {
    z-index: 100;
    width: 100%;
    padding: 0 25% 0 32%;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: row;
}
.left-top-block{
    width: 350rpx; 
    height: 23.5vh;
    background-image: url(https://cdn.xiaou.tech/afterltJ.png);
    background-size: 100% 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-attachment: fixed;
    background-position: center center; */
}
.lt-before {
    background-image: url(https://cdn.xiaou.tech/beforeltJ.png);

}

.left-bottom-block {
    width: 310rpx; 
    height: 26vh;
    background-image: url(https://cdn.xiaou.tech/afterlbJ.png);
    background-size: 100% 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.right-block {

    width: 380rpx;
    height: 100%;
    background-image: url(https://cdn.xiaou.tech/afterrJ.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lb-before {
    background-image: url(https://cdn.xiaou.tech/beforelbJ.png);

}
.r-before {
    background-image: url(https://cdn.xiaou.tech/beforerJ.png);


}
.to-out {
    animation: 0.2s ease slideout backwards;
    animation-direction: alternate-reverse;

}
.inner-block-image {
    width: 60rpx;
    margin-bottom: 1vh;
}
.inner-block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(181, 181, 181, 1);
}
.lt {
    position: relative;
    height: 90%;
    width: 87%;
}
.lb {
    height: 110%;
}
.rt {
    width: 85%;
    padding-left: 15%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rb {    
    width: 85%;
    height: 40%;
    margin-top: 20%;
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rb-text {
    width: 50%;
    height: 50%;
    letter-spacing:13rpx;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rb-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    border-top: 1px rgba(112, 112, 112, 1) dashed;
}
.rb-border-b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    border-bottom: 1px rgba(112, 112, 112, 1) dashed;
}
.lb-border {
    border-right: 1px rgba(112, 112, 112, 1) dashed;
    
    
}
.left-jigsaw{
    width: 330rpx;
    height: 100%;
    padding-left: 44rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.right-jigsaw{
    /* width: 375rpx; */
    padding-right: 44rpx;

    height: 100%;

}
.jigsaw {
    /* background-color: rgba(181, 246, 201, 0.35); */
    height: 40%;
}
.square {
    /* margin-left: 200rpx;  */
    height: 65rpx;
    width:  65rpx;
    /* border: 1px solid rgba(112 112 112); */
}
.prodc-text {
    padding-left: 20rpx;
    /* padding-bottom: 30rpx; */
    align-self: center;
    font-size: .18rem;
    font-family: PingFangSC-Medium, sans-serif;
    color: rgba(181,181,181);
}
.bottom {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 200rpx 0 200 rpx; */
    /* align-self: center; */
}
.high {
    z-index: 500;
}
.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250rpx;
    width: 250rpx;
    height: 250rpx;
    background-color: rgba(181,246,201);
    border-radius: 50%;
    box-shadow:0 6rpx 10rpx 2rpx rgba(0, 0, 0, 0.1);/*for Android*/
    -webkit-box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.1);/*for IOS*/
}

.chat-text {
    z-index: 300;
    font-size: .25rem;
    color: rgba(80,189,155);
    font-family: PingFangSC-Medium, sans-serif;
    
}


.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-size: cover;
    background-position: center center;
    background-attachment:fixed; */
    margin: 0; 

    /* background-image: url(https://cdn.xiaou.tech/main-back.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; */
}
.images-intro {
    position: fixed;
    z-index: 998;
    bottom: 0;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border-radius: 20rpx;
    background-color: #ffffff;
    animation: 0.2s ease slidein;
}
.bottom-scroll {
    margin: 0 5.5%;
    padding: 0 30rpx;
    width: 89%;
    height: 60%;
    background-color: rgba(181, 246, 201, 0.35);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.speaker-text {
    flex-grow: 2;
    margin-left: 20rpx;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(181, 181, 181, 1);
}
.bottom-text {
    /* position: fixed; */
    /* margin-left: 340rpx; */
    padding-top: 10%;
    height: 100%;
    bottom: 2.3vh;
    font-size: .10rem;
    color: rgba(181,181,181);
}
.left {
    text-align: right;
    width: calc(100% / 3);
    /* padding-left: 280rpx; */
}
.middle-bottom {
    text-align: center;
    width: calc(100% / 3);
}
.right {
    text-align: left;
    width: calc(100% / 3);
}
.tap-bottom {
    display: flex;
    flex-direction: row;
    height: 30%;
}
.ad-policy {
    position: fixed;
    z-index: 998;
    margin-left: 10vw;
    bottom: 15vh;
    height: 60vh;
    width: 80vw;
    /* padding: 0 50rpx; */
    display: flex;
    flex-direction: column;
    border-radius: 40rpx;
    background-color: #ffffff;
    animation: 0.2s ease slidein;
}
.card-image {
    padding: 5% 0;
    z-index: 999;
}

.privacy-policy {
    position: fixed;
    z-index: 998;
    margin-left: 10vw;
    bottom: 4vh;
    height: 80vh;
    width: 80vw;
    padding: 0 50rpx;
    display: flex;
    flex-direction: column;
    border-radius: 20rpx;
    background-color: #ffffff;
    animation: 0.2s ease slidein;

}

.privacy-title {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    
}
.sure-buttom {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding-bottom: 1vh;
}
.privacy-content {
    margin: 10rpx 0;
    font-size: small;
    color: rgba(112,112,112);
    height: 70vh;

}

@keyframes popPri {
    from {
        bottom: -100vh;

    }
    to {
        bottom: 5vh;

    }
  }

@keyframes slidein {
    from { transform: scaleY(0); }
    to   { transform: scaleY(1); }
}

@keyframes slideout {
    from { 
        transform: scaleY(1);
        /* opacity: 0; */
            
    }
    to   { transform: scaleY(0); 
        /* opacity: 1; */

    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }