/* 全局整页面 */
.wrap {
  font-family: PingFangSC-Regular, sans-serif;
  max-height: 100vh;
  /* height: 100vh; */
  font-size: .16rem;
}

/* 组件容器 */
.container {
  font-size: .16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.top-navigation {
  /* top: 0;
  position: fixed; */

  display: flex;
  padding-top:70rpx;
  flex-direction: row;
  width: 100%;
  height: 160rpx;
  background-color: #ffff;
  z-index: 995;
}
.back-arrow {
  position: fixed;
  top: 0;
  left: 5.3vw;
  padding-top: 14.6vw;
  /* padding-top: 55rpx;
  padding-left: 40rpx;
  padding-bottom: 30rpx;
  align-self: center; */
  width: 15rpx;
  /* height: 50rpx; */
  z-index: 999;
  /* width: 10%; */
}

.main-text {
  position: fixed;
  top: 0;
  padding-top: 12.6vw;
  margin-left: 300rpx;
  font-size: 1.2rem;
  font-family: PingFangSC-Medium, sans-serif;
  color: rgba(128,186,161);
}